.container {
    height: 92vh;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 2rem 4rem;
}

.messages__container {
    display: flex;
    flex-grow: 4;
    border: 1px solid #e3e1e1;
    border-radius: 5px;
    position: relative;
    min-width: 250px;
    flex-direction: column;
    width: 400px;
}

.welcome {
    margin-top: 2em;
    margin-left: 4em;
}

@media only screen and (max-width: 768px)  {
    .messages__container {
        width: 0;
        flex-grow: unset;
        min-width: 0;
        border: none;
    }
}