.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.message {
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 65%;
    background-color: #f0eeee;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: auto;
    word-break: break-all;
}

.messageUserAuthor {
    background-color: #aceec2;
    align-self: flex-end;
}

.date {
    font-size: 0.7em;
    align-self: end;
}

.textarea {
    background-color: #f0eeee;
    margin-top: auto;
}

.textarea form {
    display: flex;
    align-items: center;
}

.textarea textarea {
    vertical-align: middle;
    margin: 12px;
    border-radius: 5px;
    border: 1px solid #c3c2c2;
    width: 85%;
}
