.container {
    height: 85vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 2rem 4rem;
}

.messages__container {
    display: flex;
    flex-grow: 4;
    border: 1px solid #e3e1e1;
    border-radius: 5px;
    position: relative;
    min-width: 250px;
 }

.welcome {
    padding: 2rem 4rem;
}
